.result {
    background: #A1E0B4;
    background: linear-gradient(to bottom, #A1E0B4, #72BF93);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    min-height: 250px;
    font-size: 27px;
    // font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    z-index: -1;
    position: relative;
    border-bottom: 2px solid darken(#72BF93, 20%);
}

.result__die {
    font-weight: 800;
    letter-spacing: 1px;
}

.result__result {
    font-size: 72px;
    margin: 40px 0;
}

.result__greeting--desktop {
    display: none;
}

.result__greeting--mobile {
    display: inline;
}

@media only screen and (min-width: 768px) {
    .result__greeting--mobile {
        display: none;
    }
    .result__greeting--desktop {
        display: inline;
    }
}